<footer>  
   
  <div class="inv--newsletter-main" {% for block in section.blocks %} {%  if block.settings.bg_color != blank or block.settings.text_color != blank %}style="background:{{block.settings.bg_color}}; color:{{block.settings.text_color}};"{% endif %}{% endfor %}>
    <div class="container">
      {%- if section.blocks.size > 0 -%}
      {% for block in section.blocks %}      
      {% if block.type == 'newsletter' %}
      {%- if block.settings.newsletter_enable -%}
      <div class="inv--newsletter">
        {% if block.settings.newsletter_heading != blank %}
        <div class="inv--newsletter-head">
          <span class="inv--newsletter-icon"><svg width="81" height="80" viewBox="0 0 81 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.0609 0.563327C36.1652 0.843381 33.6564 2.32322 31.4856 3.85259L27.539 6.63324H21.0867C14.8327 6.63324 13.3761 6.86181 12.6428 7.9594C12.4851 8.19538 12.3536 10.4218 12.3501 12.9068L12.3442 17.4251L6.58742 21.4675C3.42138 23.6908 0.701445 25.6944 0.543767 25.9203C0.38609 26.1457 0.254562 37.7044 0.251049 51.6057C0.244805 79.0377 0.203824 78.5049 2.38087 79.496C3.85656 80.168 76.6434 80.168 78.1191 79.496C80.2962 78.5049 80.2552 79.0377 80.249 51.6057C80.2454 37.7044 80.1139 26.1531 79.9562 25.9359C79.6795 25.5552 75.6747 22.6435 70.5951 19.1292L68.1558 17.4414L68.1499 12.9149C68.1464 10.4253 68.0149 8.19538 67.8572 7.9594C67.1239 6.86181 65.6673 6.63324 59.4133 6.63324H52.961L49.0768 3.89706C43.5683 0.0160918 41.0489 -0.682873 37.0609 0.563327ZM44.5662 4.12173C48.8586 6.69253 48.9609 6.63324 40.25 6.63324C31.5391 6.63324 31.6414 6.69253 35.9338 4.12173C39.1517 2.19411 41.3483 2.19411 44.5662 4.12173ZM65.4238 22.7496V36.1356L54.8726 44.8848C49.0694 49.6968 43.7568 53.8398 43.0663 54.0918C42.3759 54.3438 41.1086 54.5497 40.25 54.5497C39.3914 54.5497 38.1237 54.3438 37.4329 54.0918C36.7421 53.8398 31.429 49.6933 25.6266 44.8766L15.0762 36.1192V22.7414V9.36357H40.25H65.4238V22.7496ZM38.841 14.8554C35.3643 15.359 32.3923 16.982 29.2918 20.0696C25.9509 23.3967 24.4378 26.2538 24.1556 29.7673C23.4367 38.7173 29.4093 44.4939 40.0283 45.1192C46.2859 45.4874 51.1313 44.0501 54.398 40.8563C56.1501 39.1433 56.433 38.2446 55.4702 37.4462C54.9823 37.0413 54.5963 37.2246 53.1733 38.5352C50.0764 41.388 46.8697 42.509 41.8112 42.507C36.2105 42.5051 31.8728 41.044 29.5213 38.3675C27.3927 35.9445 26.6796 33.8772 26.8661 30.6691C27.0714 27.1411 28.2068 24.7318 30.9603 21.9796C38.3883 14.5567 49.7989 16.253 52.2019 25.1375C53.0828 28.3947 51.844 32.8963 49.5752 34.6796C48.5718 35.4686 45.531 35.861 45.5092 35.2042C45.5041 35.0435 46.056 32.1642 46.7362 28.8058C47.4165 25.4475 47.8607 22.4075 47.7233 22.0502C47.3736 21.1395 45.8354 21.4453 45.2949 22.5327C44.8601 23.4076 44.8484 23.4088 43.9133 22.6739C41.9134 21.1016 38.4394 20.9109 36.6289 22.2737C33.3817 24.7182 31.5332 27.6934 31.1886 31.0311C30.9174 33.6561 32.0715 36.2522 34.053 37.4766C35.8928 38.6128 39.6903 38.4271 41.5403 37.1107L42.7974 36.2164L43.9929 37.2215C46.4213 39.2638 50.6903 38.1717 52.9157 34.9389C56.2652 30.0735 55.7754 23.3807 51.7468 18.9759C48.5968 15.5314 44.0951 14.0941 38.841 14.8554ZM12.3442 27.3057C12.3442 30.7381 12.249 33.5465 12.1327 33.5465C11.6729 33.5465 4.23631 27.0861 4.27534 26.7207C4.31827 26.3174 11.5316 21.0739 12.0515 21.0681C12.2123 21.0665 12.3442 23.8733 12.3442 27.3057ZM72.6679 23.8484C74.5979 25.2135 76.2301 26.4784 76.2949 26.6594C76.405 26.9664 68.8306 33.5465 68.3673 33.5465C68.251 33.5465 68.1558 30.7194 68.1558 27.264C68.1558 22.3065 68.2616 21.0221 68.6573 21.1738C68.9333 21.2795 70.738 22.4832 72.6679 23.8484ZM41.4076 24.3496C44.1876 25.5103 44.7192 29.3078 42.541 32.4501C41.1016 34.5263 39.4893 35.4936 37.4637 35.4952C35.2098 35.4971 34.1743 34.5563 33.9168 32.2718C33.5612 29.1179 36.3143 24.7466 39.0791 24.0754C39.5084 23.9712 39.9093 23.8655 39.9698 23.8406C40.0303 23.8156 40.6774 24.0449 41.4076 24.3496ZM14.1005 38.7957C19.467 43.2442 25.3838 48.1393 27.2486 49.6738C29.1138 51.2082 30.641 52.5515 30.643 52.6588C30.6446 52.766 25.6063 57.0144 19.4463 62.0999C13.286 67.1853 7.06045 72.3324 5.61169 73.5384L2.97723 75.7305V52.628C2.97723 30.6601 3.0108 29.554 3.66024 30.1164C4.0357 30.4417 8.73402 34.3472 14.1005 38.7957ZM77.4311 64.1098L77.3276 75.5608L63.5925 64.2073C56.038 57.963 49.8574 52.766 49.8578 52.6588C49.8582 52.5515 56.0392 47.3417 63.5929 41.081L77.3276 29.6983L77.4311 41.1785C77.488 47.4926 77.488 57.8117 77.4311 64.1098ZM34.4901 55.5728C38.0636 57.9993 42.5976 57.7965 46.9326 55.0151C47.7092 54.5166 48.5995 55.1812 61.3237 65.7601L74.8871 77.0367L57.6956 77.1381C48.24 77.1943 32.6538 77.1943 23.0589 77.1381L5.61364 77.0367L19.0291 65.8451C26.4072 59.6894 32.5851 54.6433 32.7576 54.6313C32.9301 54.6188 33.7095 55.0427 34.4901 55.5728Z" fill="#FFE472"/>
            </svg>
          </span>
          {% if block.settings.newsletter_heading != blank %}<h4 {%  if block.settings.text_color != blank %}style="color:{{block.settings.text_color}};"{% endif %}>{{block.settings.newsletter_heading}}</h4>{% endif %}
        </div>
        {% endif %}
        <div class="inv--newsletter-form">
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                     id="NewsletterForm--{{ section.id }}"
                     type="email"
                     name="contact[email]"
                     class="field__input"
                     value="{{ form.email }}"
                     aria-required="true"
                     autocorrect="off"
                     autocapitalize="off"
                     autocomplete="email"
                     {% if form.errors %}
                     autofocus
                     aria-invalid="true"
                     aria-describedby="ContactFooter-error"
                     {% elsif form.posted_successfully? %}
                     aria-describedby="ContactFooter-success"
                     {% endif %}
                     placeholder="{{ 'newsletter.label' | t }}"
                     required
                     >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button type="submit" class="newsletter-form__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
              {% comment %}  {% render 'icon-arrow' %} {% endcomment %}Subscribe
              </button>
            </div>
            {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
          {%- endif -%}
          {%- endform -%}
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
   {%- if section.blocks.size > 0 -%}
  <div class="inv--footer-main" style="background: #F5F5F5; color: #777777;">   
      <div class="inv--logo-section">       
        {% for block in section.blocks %}
        {% if block.type == 'logo' %}
        {% if block.settings.svg_logo != blank or block.settings.logo_image != blank %}

        <div class="inv--logo-icon">
          {% if block.settings.svg_logo != blank %}
          <span>
            {{block.settings.svg_logo}}
          </span>
          {% else %}
          <div class="inv--logo-image">
            <img src="{{block.settings.logo_image | img_url:"master"}}" alt="{{block.settings.logo_image}}" class="layload">
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}        
      </div>
    <div class="inv--conatct-linklist">
      <div class="container">
         <div class="inv--conatct-linklist-inner">
        {% for block in section.blocks %}
        {% if block.type == 'logo-contact' %}
        {% if block.settings.svg_logo != blank or block.settings.logo_image != blank %}

        <div class="inv--logo-contact">        
          <div class="inv--logo-footer">
            <a href="{{shop.url}}">
            {% if block.settings.svg_logo != blank %}
            <span>
              {{block.settings.svg_logo}}
            </span>
            {% else %}
            <div class="inv--logo-image">
              <img src="{{block.settings.logo_image | img_url:"master"}}" alt="{{block.settings.logo_image}}" class="layload">
            </div>
            {% endif %}
            </a>
          </div>
          {% if block.settings.contact_location_icon != blank or block.settings.location_text != blank or  block.settings.contact_mail_icon != blank or block.settings.mail_text != blank or block.settings.contact_phone_icon != blank or block.settings.phone_text != blank %}
          <div class="inv--contact-main">
            <ul class="inv--contact">
              {% if block.settings.contact_location_icon != blank or block.settings.location_text != blank %}
              <li class="inv--contact-location">
                <span>{{block.settings.contact_location_icon}}</span>
                <span class="visually-hidden">Location</span>
                <h4>{{block.settings.location_text}}</h4>
              </li>
              {% endif %}
              {% if block.settings.contact_mail_icon != blank or block.settings.mail_text != blank %}
              <li class="inv--contact-mail">
                <span>{{block.settings.contact_mail_icon}}</span>
                <span class="visually-hidden">Contact</span>
                <h4><a href="mailto:{{block.settings.mail_text}}">{{block.settings.mail_text}}</a></h4>
              </li>
              {% endif %}
              {% if block.settings.contact_phone_icon != blank or block.settings.phone_text != blank %}
              <li class="inv--contact-phone">
                <span>{{block.settings.contact_phone_icon}}</span>
                 <span class="visually-hidden">Phone</span>
                <h4><a href="tel:{{block.settings.phone_text}}">{{block.settings.phone_text}}</a></h4>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
          {% if block.settings.show_social %}
          <div class="inv--social">
            <ul class="footer__list-social list-unstyled list-social" role="list">
              {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_linkedin_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_linkedin_link }}" class="link list-social__link" >
                  {%- render 'icon-linkedin' -%}
                  <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_google_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_google_link }}" class="link list-social__link" >
                  {%- render 'icon-google' -%}
                  <span class="visually-hidden">{{ 'general.social.links.google' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
              {%- endif -%}

              {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
              {%- endif -%}

            </ul>
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
         <div class="inv--linklist-col">
        {% for block in section.blocks %}
        {% if block.type == 'linklist' %}
        <div class="inv--linklist inv--linklist--{% cycle 'one', 'two', 'three' ,'four' %}">
          <h4>{{ linklists[block.settings.link_list_1].title }}<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4.90695 5L9 1" stroke="white" stroke-linecap="round"></path></svg></h4>
          <ul class="inv--linklist-main">
            {%- for link in block.settings.link_list_1.links -%}
            <li>
              <a href="{{ link.url }}" class="inv-links {% if link.active %} inv-list-menu__item--active{% endif %}">
                {{ link.title }}
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </div>
        {% endif %}    
        {% endfor %}
           </div>
        </div>
    </div>   
    </div>
  </div>
   {% endif %}
  {% if section.settings.copyright_text != blank or section.settings.display_payment_methods != blank %}
  <div class="inv--footer-bottom" style="background: #F5F5F5; color: #777777;">
    <div class="container">
  	<div class="inv--footer-copy">
      <div class="inv--footer-copy-payment">
        <p class="credits">
          Copyright 
          &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
          {{ section.settings.copyright_text }}
        </p>
      </div>
        {% if section.settings.display_payment_methods %}
          <div class="payment_methods">
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class:'payment-icon' }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
   {% endif %}
</footer>

{% schema %}
  {
    "name": "Footer",
	"class":"inno-footer",
    "settings": [
        {
          "type": "richtext",
          "id": "copyright_text",
          "label": "Copyright text"
        },
        {
          "type": "checkbox",
          "id": "display_payment_methods",
          "label": "Show payment method icons",
          "default": true
        }
      ],
  "blocks": [
  {
    "type": "newsletter",
    "name": "Newsletter",
    "settings": [
        {
          "type": "checkbox",
          "id": "newsletter_enable",
          "default": true,
          "label": "Newsletter Enable"
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "default": "Subscribe to our emails",
          "label": "Newsletter Heading"
        },
		{
          "type": "color",
          "id": "bg_color",
          "label": "Newsletter Background Color"			
		},
		{
          "type": "color",
          "id": "text_color",
          "label": "Newsletter Text Color"			
		}
    ]
  },
  {
    "type": "logo",
    "name": "Footer Multiple Logo",
    "settings": [
        {
          "type": "textarea",
          "id": "svg_logo",
          "label": "Logo SVG(Code)"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image (Optional)"
        }
    ]
  },
  {
    "type": "logo-contact",
    "name": "Logo And Contact",
    "settings": [
		{
          "type": "textarea",
          "id": "svg_logo",
          "label": "Logo SVG(Code)"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image (Optional)"
        },
		{
          "type": "textarea",
          "id": "contact_location_icon",
          "label": "Location SVG(Code)"
        },
		{
          "type": "text",
          "id": "location_text",
          "label": "Location"
        },
		{
          "type": "textarea",
          "id": "contact_mail_icon",
          "label": "Mail SVG(Code)"
        },
		{
          "type": "text",
          "id": "mail_text",
          "label": "Mail"
        },
		{
          "type": "textarea",
          "id": "contact_phone_icon",
          "label": "Phone SVG(Code)"
        },
		{
          "type": "text",
          "id": "phone_text",
          "label": "Phone"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "Social Icon Enable"
        }
    ]
  },
  {
    "type": "linklist",
    "name": "Linklist",
	"limit":4,
    "settings": [		
        {
        "type": "link_list",
        "id": "link_list_1",
        "label": "Footer Link List"
        }
     ]
   }
]
  }
{% endschema %}

