{% if section.settings.image != blank %}
<section>
<div class="inv-bg_image">
   {% if section.settings.title != blank or section.settings.description != blank %}
  <div class="inv-main-content">
    {% if section.settings.image != blank %}
    <div class="inv-text-inner-image">
      <img src="{{section.settings.image | img_url:'master'}}">
    </div>
    {% endif %}
    <div class="inv-inner-content">
      {% if section.settings.title != blank %}
      <h4>{{section.settings.title}}</h4>
      {% endif %}
      {% if section.settings.subtitle != blank %}
      <p>{{section.settings.subtitle}}</p>
      {% endif %}
      {% if section.settings.btn_text != blank or section.settings.btn_url != blank %}
      <div class="inv-btn-notbg">
      	<a href="{{section.settings.btn_url}}">{{section.settings.btn_text}}<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.922 6.8987L0.971999 1.94869L2.386 0.534695L8.75 6.8987L2.386 13.2627L0.972 11.8487L5.922 6.8987Z" fill="#FFE472"/></svg>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
   {% endif %}
</div>	
</section>
 {% endif %}
{% schema %}
  {
    "name": "Full Banner",
	"class":"inv-full-banner",
    "settings": [
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
		{
            "type":"color",
            "id":"bg_color",
            "label":"Background Color",
			"default":"#CCCCCC"
        },		
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"subtitle",
			"label":"Sub Title"
		},
		{
			"type":"text",
			"id":"btn_text",
			"label":"Button Text"
		},
		{
			"type":"url",
			"id":"btn_url",
			"label":"Button Link"
		}
	],
    "presets" : [
      {
      "name" : "Full Banner"
      }	
    ]
  }
{% endschema %} 