<section class="inv-latest-news">
  <div class="container">
    {%if section.settings.main_title != blank %}
    <div class="inv-heading">
      <h2 class="inv-title-main">{{ section.settings.main_title }}</h2>
    </div>
    {%endif%}
    {% assign blog_widget_select = section.settings.blog_widget_select %}
    {%if blog_widget_select %}
    <div id="blog" class="inv-blog-wrapper">
      {% for article in blogs[blog_widget_select].articles %}
      <div class="inv-article-main">
        {% if article.image %}
        <div class="blog-img">
          <a href="{{ article.url }}">
            <img class="lazyload" data-src="{{ article.image | img_url: "master" }}" alt="article-image" />
          </a>
        </div>
        {% endif %}
        <div class="inv-article-info">
          <div class="article-meta-info">
            {%- if show_date -%}
            <p class="article-date meta-info">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.1666 2.50016H17.5C17.721 2.50016 17.9329 2.58796 18.0892 2.74424C18.2455 2.90052 18.3333 3.11248 18.3333 3.3335V16.6668C18.3333 16.8878 18.2455 17.0998 18.0892 17.2561C17.9329 17.4124 17.721 17.5002 17.5 17.5002H2.49996C2.27895 17.5002 2.06698 17.4124 1.9107 17.2561C1.75442 17.0998 1.66663 16.8878 1.66663 16.6668V3.3335C1.66663 3.11248 1.75442 2.90052 1.9107 2.74424C2.06698 2.58796 2.27895 2.50016 2.49996 2.50016H5.83329V0.833496H7.49996V2.50016H12.5V0.833496H14.1666V2.50016ZM16.6666 7.50016V4.16683H14.1666V5.8335H12.5V4.16683H7.49996V5.8335H5.83329V4.16683H3.33329V7.50016H16.6666ZM16.6666 9.16683H3.33329V15.8335H16.6666V9.16683ZM4.99996 10.8335H9.16663V14.1668H4.99996V10.8335Z" fill="#777777"/>
              </svg>
              <span>{{ article.created_at | date: format: 'abbreviated_date' }}</span>
            </p>
            {%endif%}
            {%- if blog.comments_enabled? -%}
            <p class="article-date meta-info">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.80246 14.1667H16.6666V4.16667H3.33329V15.3208L4.80246 14.1667ZM5.37913 15.8333L1.66663 18.75V3.33333C1.66663 3.11232 1.75442 2.90036 1.9107 2.74408C2.06698 2.5878 2.27895 2.5 2.49996 2.5H17.5C17.721 2.5 17.9329 2.5878 18.0892 2.74408C18.2455 2.90036 18.3333 3.11232 18.3333 3.33333V15C18.3333 15.221 18.2455 15.433 18.0892 15.5893C17.9329 15.7455 17.721 15.8333 17.5 15.8333H5.37913Z" fill="#777777"/>
              </svg>
              <span>{{ 'blog.article.comments_count' | t: count: article.comments_count }}</span>
            </p>
            {%endif%}
          </div>
          {% if article.title %}
          <h3 class="inv-article-title">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h3>
          {%endif%}
          {% if article.content %}
          <div class="inv-article-desc">
            {{ article.content | strip_html | truncate : 100 }}
          </div>
          {%endif%}
          <div class="inv-article-read">
            <a href="{{ article.url }}" class="article-readmore"> {{ 'sections.featured_blog.read_more' | t }}</a>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    {%endif%}
  </div>
</section>

{% schema %}
{
"name": "Featured Blog Section",
"class" : "latest-news",
"settings": [
{
"type": "text",
"id": "main_title",
"label": "Heading",
"default": "LATEST NEWS"
},
{
"type": "blog",
"id": "blog_widget_select",
"label": "Blog"
},
{
"type": "checkbox",
"id": "show_date",
"default": true,
"label": "Enable Date"
}
],
"presets" : [
{
"name": "Featured Blog Section"
}
]
}
{% endschema %}